/* For search bar component */
.search-bar-container form.search-form .autocomplete {
  display: inline-block;
  width: 100%;
  position: relative;
}

.search-bar-container form.search-form input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px 0px 0px 5px;
  float: left;
  width: 85%;
  background: #f1f1f1;
}

.search-bar-container form.search-form input[type='text']:focus {
  outline: none !important;
  border: 1px solid gray;
  box-shadow: 0 0 10px #719ece;
}

.search-bar-container form.search-form button {
  float: left;
  width: 15%;
  padding: 10px;
  background: gray;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 0px 5px 5px 0px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.search-bar-container form.search-form button:focus {
  outline: none !important;
  border: 1px solid gray;
  box-shadow: 0 0 10px #719ece;
}

.search-bar-container form.search-form button:hover {
  background: #0b7dda;
}

/* Clear floats */
.search-bar-container form.search-form::after {
  content: '';
  clear: both;
  display: table;
}

.search-bar-container form.search-form .autocomplete-items {
  width: 85%;
}
