.book-details-container {
  top: 10px;
  position: relative;
}

.book-details-container .book-meta {
  top: 10px;
}

.book-details-container .statistic-meta {
  color: gray;
}

.book-details-container .book-cover {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.book-details-container .book-cover img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.book-details-container .btn {
  border: 1px solid;
  border-radius: 8px;
}

.book-details-container .btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.8;
  border-radius: 0.2rem;
  border-color: gray;
  color: gray;
}

@media (max-width: 575px) {
  .book-details-container .download-section {
    text-align: center;
  }
}

.book-details-container .can-edit {
  margin: 8px 0px 0px 15px;
}

.book-details-container .upload-by a {
  color: inherit;
}