.login-register-container {
  margin: auto;
}

/* .nav-tabs > li {
  
} */
.login-register-container .tab-content {
  margin-top: 20px;
}

.login-register-container .nav-tabs > li > a {
  font-size: 18px;
  text-align: center;
  color: inherit;
}
/* .nav-tabs > li > a:hover {
  background-color: #303136 !important;
  border: medium none;
  border-radius: 0;
  color: #fff;
} */
