.navbar {
  margin-bottom: 10px;
}

.navbar .nav-button {
  text-decoration: none;
  color: gray;
  text-align: center;
  font-size: 18px;
}

.right-navbar > div {
  text-align: center;
}

.right-navbar .active {
  color: black;
}

@media (max-width: 767px) {
  .right-navbar {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.brand .logo-pc {
  max-width: 220px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.brand .logo-mobile {
  max-width: 40px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.dropdown-toggle::after {
  display: none;
}

.search-bar {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding-top: 10px;
}

/* .user-section-pc {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
  display: block;
  overflow: hidden;
} */
