.reset-password-container {
  top: 10px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 350px;
}

.reset-password-container .email-check-form {
  position: relative;
}

.reset-password-container .email-check-form .check-icon {
  z-index: 10;
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 20px;
}

.reset-password-container .email-check-form .check-icon.true {
  color: red;
}
.reset-password-container .email-check-form .check-icon.false {
  color: green;
}

.reset-password-container .requirements {
  max-height: 200px;
  transition: 0.28s;
  overflow: hidden;
  color: red;
  font-style: italic;
}
